apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2        # Two backend pods
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: backend-html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: backend-html
        configMap:
          name: backend-html
